@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    color: black;
}
a {
	text-decoration: none;
    color: black;
}
.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
#hero {
	background-image: url(night.jpg);
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
}
#hero::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .57;
    z-index: -1;
}
#hero .hero{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}
#hero h1{
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: transparent;
    animation: text_reveal 0.5s ease forwards;
    animation-delay: 2s;
}
#hero h1:nth-child(1){
    animation-delay: 1s;
}
#hero h1 :nth-child(2){
    animation-delay: 2s;
}
#hero h1:nth-child(3){
    animation-delay: 3s;
}
#hero h1 span{
    position: absolute;
    top: 0;
    left: 0%;
    height: 100%;
    width: 0;
    background-color: #2f2582;
    animation: text_reveal_box 1s ease;
    animation-delay: .5s;
}
#hero h1:nth-child(1) span{
    animation-delay: .5s;
} 
#hero h1:nth-child(2) span{
    animation-delay: 1.5s;
} 
#hero h1:nth-child(3) span{
    animation-delay: 2.5s;
} 
#hero .cta{
    display: inline-block;
    padding: 10px 30px;
    color: whitesmoke;
    background-color: transparent;
    border: 2px solid whitesmoke;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease;
    transition-property: background-color, color;
}
#hero .cta:hover{
    color: white;
    background-color: #2f2582;
}
/*Projects*/
#projects{
    background-color: gainsboro;

}

#projects .projects{
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;

}
#projects .projects-title{
    font-size: 4rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem  ;
    text-align: center;
    flex-direction: column;
}
#projects .section-title span{
    color: aqua;

}
#projects .projects-top p{
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: .05rem;
    flex-direction: column;
    text-align: center;
}
#projects .projects-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
}
#projects .projects-item{
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: grid;
    padding: 30px;
    border-radius: 10px;
    background-image: url("laptop.jpg");
    background-size: cover;
    margin: 10px 5%;
    position: relative;
    text-align: center;
    
}
.projects-item::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .7%;
    
}
#projects .projects-bottom .icon{
    height: 80px;
    width: 80px;
    margin-bottom: 20px;
}
#projects .projects-bottom .icon img{
    height: 100%;
    width: 100%;
    object-fit: cover;

}
#projects .icon{
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#projects .projects-item h2{
    font-size: 2rem;
    color: blue;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: center;
   
}
#projects .projects-item p{
    color: white;
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.9rem;
}


/*end of projects*/

/*about me*/



/*end of about me*/


/*start of achievements section*/

#Experiences{
    background-color: gainsboro;
    text-align: center;
    position: relative;
    margin: auto;
    background: gainsboro;
}

#Experiences .inner-thumb{
    
    font-size: 1.4rem;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: .05rem;
    flex-direction: column;
    text-align: center;
    background-color: gainsboro;
    background: gainsboro;
}

#Experiences .experiences-title{
    font-size: 4rem;
    font-weight: 300;
    color: whitesmoke;
    text-transform: uppercase;
    letter-spacing: .2rem  ;
    text-align: center;
    flex-direction: column;
    background-color: #0B3C5D;


}
#Experiences .Experiences-container{
    background-color: #0B3C5D;
    color: whitesmoke;
    display: block;
    align-items: flex-start;
    justify-content: center;
    padding: 30px;
    border-radius: 30px;
    background-size: cover;
    position: relative;
    text-align: center;
    width: 60%;
    height: 100%;
    margin: auto;

    
    
}

#Experiences .experiences-p{
    background-color: #0B3C5D;
    font-size: 1.4rem;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: .05rem;
    flex-direction: column;
    text-align: center;
    
}




/*end of achievements section*/

/* Keyframes */
@keyframes text_reveal_box {
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
    
}
@keyframes text_reveal{
    100%{
        color: white;
    }
}

